@import './stylesheets/ambience/colors.sass';
@import './stylesheets/ambience/fonts.sass';
@import './stylesheets/ambience/typography.sass';
@import './stylesheets/base/unclassed.sass';
@import './stylesheets/base/overrides.sass';
@import './stylesheets/components/Header.sass';
@import './stylesheets/components/Banner.sass';
@import './stylesheets/components/Problem.sass';
@import './stylesheets/components/Solution.sass';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
